.polygon1 {
    position: absolute;
    width: 656.25px;
    height: 697.77px;
    right: -10.48px;
    top: 0.97px;
    rotation: 45deg;
    rotate: 45deg;
    scale: 0.75;

    background: linear-gradient(180deg, rgba(217, 217, 217, 0.132) 0%, rgba(115, 115, 115, 0) 100%);
    border-radius: 22px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;


}

.polygon2 {
    position: absolute;
    width: 656.25px;
    height: 697.77px;
    left: -400.86px;
    top: 216.69px;

    background: conic-gradient(from 180deg at 50% 50%, rgba(217, 217, 217, 0.13) 0deg, rgba(115, 115, 115, 0) 360deg);
    border-radius: 15px;
    transform: rotate(64.14deg);

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.polygon3 {
    position: absolute;
    width: 400px;
    height: 400px;
    right: -150px;
    top: 250px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.2) 0deg, rgba(115, 115, 115, 0) 360deg);
    border-radius: 50%;
    transform: rotate(45deg);
    z-index: 1;
}

.polygon4 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: -200px;
    top: 50px;
    background: linear-gradient(45deg, rgba(100, 100, 100, 0.2), rgba(200, 200, 200, 0.01));
    border-radius: 50%;
    z-index: 0;
}

.polygon5 {
    position: absolute;
    width: 300px;
    height: 400px;
    right: -100px;
    bottom: 50px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(115, 115, 115, 0) 70%);
    border-radius: 50%;
    z-index: 0;
}

.polygon7 {
    position: absolute;
    width: 656.25px;
    height: 697.77px;
    left: -200.86px;
    top: 216.69px;

    background: conic-gradient(from 180deg at 50% 50%, rgba(217, 217, 217, 0.13) 0deg, rgba(115, 115, 115, 0) 360deg);
    border-radius: 15px;
    transform: rotate(199.14deg);

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}


