@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; /* Set a background color */
  color: #000; /* Ensure text is visible */
  margin: 0;
  padding: 0;
}
